# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Exercícios/contando_numeros_2/build.xml
Exercícios/contando_numeros_2/build/classes/.netbeans_automatic_build
Exercícios/contando_numeros_2/build/classes/.netbeans_update_resources
Exercícios/contando_numeros_2/nbproject/build-impl.xml
Exercícios/contando_numeros_2/manifest.mf
Exercícios/contando_numeros_2/nbproject/project.xml
Exercícios/contando_numeros_2/nbproject/private/private.xml
Exercícios/contando_numeros_2/nbproject/private/private.properties
Exercícios/contando_numeros_2/nbproject/genfiles.properties
Exercícios/contando_numeros_2/nbproject/project.properties
Exercícios/cuble_de_tenis/build.xml
Exercícios/cuble_de_tenis/nbproject/project.xml
Exercícios/cuble_de_tenis/nbproject/project.properties
Exercícios/cuble_de_tenis/nbproject/private/private.xml
Exercícios/cuble_de_tenis/nbproject/private/private.properties
Exercícios/cuble_de_tenis/nbproject/genfiles.properties
Exercícios/cuble_de_tenis/nbproject/build-impl.xml
Exercícios/cuble_de_tenis/manifest.mf
Exercícios/cuble_de_tenis/build/classes/.netbeans_automatic_build
Exercícios/cuble_de_tenis/build/classes/.netbeans_update_resources
Exercícios/ex10homem_mulher/nbproject/project.xml
Exercícios/ex10homem_mulher/nbproject/project.properties
Exercícios/ex10homem_mulher/nbproject/private/private.xml
Exercícios/ex10homem_mulher/nbproject/private/private.properties
Exercícios/ex10homem_mulher/nbproject/genfiles.properties
Exercícios/ex10homem_mulher/nbproject/build-impl.xml
Exercícios/ex10homem_mulher/manifest.mf
Exercícios/ex10homem_mulher/build/classes/.netbeans_update_resources
Exercícios/ex10homem_mulher/build/classes/.netbeans_automatic_build
Exercícios/ex10homem_mulher/build.xml
Exercícios/exe08/build.xml
Exercícios/exe08/build/classes/.netbeans_automatic_build
Exercícios/exe08/build/classes/.netbeans_update_resources
Exercícios/exe08/manifest.mf
Exercícios/exe08/nbproject/build-impl.xml
Exercícios/exe08/nbproject/genfiles.properties
Exercícios/exe08/nbproject/private/private.properties
Exercícios/exe08/nbproject/private/private.xml
Exercícios/exe08/nbproject/project.properties
Exercícios/exe08/nbproject/project.xml
Exercícios/exe09/build.xml
Exercícios/exe09/build/classes/.netbeans_automatic_build
Exercícios/exe09/build/classes/.netbeans_update_resources
Exercícios/exe09/manifest.mf
Exercícios/exe09/nbproject/build-impl.xml
Exercícios/exe09/nbproject/genfiles.properties
Exercícios/exe09/nbproject/private/private.properties
Exercícios/exe09/nbproject/private/private.xml
Exercícios/exe09/nbproject/project.properties
*.xml
*.mf
*.properties
Exercícios/for/build/classes/.netbeans_automatic_build
Exercícios/for/build/classes/.netbeans_update_resources
Exercícios/idade_altura/build/classes/.netbeans_automatic_build
Exercícios/idade_altura/build/classes/.netbeans_update_resources
Exercícios/idade_altura/src/idade_altura/Idade_altura.java
Exercícios/imc/build/classes/.netbeans_automatic_build
Exercícios/imc/build/classes/.netbeans_update_resources
Exercícios/recebendo_valores_entre_0_e_100/build/classes/.netbeans_automatic_build
Exercícios/recebendo_valores_entre_0_e_100/build/classes/.netbeans_update_resources
Exercícios/tempo_distancia/build/classes/.netbeans_automatic_build
Exercícios/tempo_distancia/build/classes/.netbeans_update_resources
Exercícios/veto01/build/classes/.netbeans_automatic_build
Exercícios/veto01/build/classes/.netbeans_update_resources
Exercícios/vetor02/build/classes/.netbeans_automatic_build
Exercícios/vetor_exe05/build/classes/.netbeans_update_resources
Exercícios/vetor_exe05/build/classes/.netbeans_automatic_build
Exercícios/vetor09/build/classes/.netbeans_update_resources
Exercícios/vetor09/build/classes/.netbeans_automatic_build
Exercícios/vetor02/build/classes/.netbeans_update_resources
Exercícios/tempo_distancia/src/tempo_distancia/Tempo_distancia.java
Exercícios/vetoresexe07/build/classes/.netbeans_automatic_build
Exercícios/vetoresexe07/build/classes/.netbeans_update_resources
Exercícios/vetorexe010/build/classes/.netbeans_automatic_build
Exercícios/vetorexe010/build/classes/.netbeans_update_resources
Exercícios/vetorexe04/build/classes/.netbeans_automatic_build
Exercícios/vetorexe04/build/classes/.netbeans_update_resources
Exercícios/vetorexe06/build/classes/.netbeans_automatic_build
Exercícios/vetorexe06/build/classes/.netbeans_update_resources
Exercícios/vetorexe08/build/classes/.netbeans_automatic_build
Exercícios/vetorexe08/build/classes/.netbeans_update_resources
Exercícios/areado_trapezio/.settings/org.eclipse.jdt.core.prefs
Exercícios/areado_trapezio/.project
Exercícios/areado_trapezio/.classpath
Exercícios/aleatorio/.settings/org.eclipse.jdt.core.prefs
Exercícios/aleatorio/.project
Exercícios/aleatorio/.classpath
Exercícios/aula01/.classpath
Exercícios/aula01/.project
Exercícios/aula01/.settings/org.eclipse.jdt.core.prefs
Exercícios/calculadora/.project
Exercícios/calcular/.classpath
Exercícios/calcular/.project
Exercícios/calcular/.settings/org.eclipse.jdt.core.prefs
Exercícios/compareto/.classpath
Exercícios/compareto/.project
Exercícios/compareto/.settings/org.eclipse.jdt.core.prefs
Exercícios/conversaomedia/.classpath
Exercícios/conversaomedia/.project
Exercícios/conversaomedia/.settings/org.eclipse.jdt.core.prefs
Exercícios/data_hora/.classpath
Exercícios/data_hora/.project
Exercícios/data_hora/.settings/org.eclipse.jdt.core.prefs
Exercícios/dias_da_semana/.classpath
Exercícios/dias_da_semana/.project
Exercícios/dias_da_semana/.settings/org.eclipse.jdt.core.prefs
Exercícios/for0_300/.classpath
Exercícios/for0_300/.project
Exercícios/for0_300/.settings/org.eclipse.jdt.core.prefs
Exercícios/idade_aula03/.classpath
Exercícios/idade_aula03/.project
Exercícios/idade_aula03/.settings/org.eclipse.jdt.core.prefs
Exercícios/idade_usuario/.classpath
Exercícios/idade_usuario/.project
Exercícios/idade_usuario/.settings/org.eclipse.jdt.core.prefs
Exercícios/idadecachorro/.classpath
Exercícios/idadecachorro/.project
Exercícios/idadecachorro/.settings/org.eclipse.jdt.core.prefs
Exercícios/imc/.classpath
Exercícios/imc/.project
Exercícios/imc/.settings/org.eclipse.jdt.core.prefs
Exercícios/jogofutebol/.classpath
Exercícios/jogofutebol/.project
Exercícios/jogofutebol/.settings/org.eclipse.jdt.core.prefs
Exercícios/media/.classpath
Exercícios/media/.project
Exercícios/media/.settings/org.eclipse.jdt.core.prefs
Exercícios/media_de_10_alunos/.classpath
Exercícios/media_de_10_alunos/.project
Exercícios/media_de_10_alunos/.settings/org.eclipse.jdt.core.prefs
Exercícios/mercadinho/.classpath
Exercícios/mercadinho/.project
Exercícios/mercadinho/.settings/org.eclipse.jdt.core.prefs
Exercícios/numeros_par_20/.classpath
Exercícios/numeros_par_20/.project
Exercícios/numeros_par_20/.settings/org.eclipse.jdt.core.prefs
Exercícios/pegando_nome/.classpath
Exercícios/pegando_nome/.project
Exercícios/pegando_nome/.settings/org.eclipse.jdt.core.prefs
Exercícios/peso_altura/.classpath
Exercícios/pokemon2/.classpath
Exercícios/pokemon2/.project
Exercícios/pokemon2/.settings/org.eclipse.jdt.core.prefs
Exercícios/peso_altura/.settings/org.eclipse.jdt.core.prefs
Exercícios/peso_altura/.project
Exercícios/pokemonexe04/.classpath
Exercícios/pokemonexe04/.project
Exercícios/pokemonexe04/.settings/org.eclipse.jdt.core.prefs
Exercícios/qual_e_seu_nome/.classpath
Exercícios/qual_e_seu_nome/.project
Exercícios/qual_e_seu_nome/.settings/org.eclipse.jdt.core.prefs
Exercícios/revisão01/.classpath
Exercícios/revisão01/.project
Exercícios/revisão01/.settings/org.eclipse.jdt.core.prefs
Exercícios/salario/.classpath
Exercícios/salario/.project
Exercícios/salario/.settings/org.eclipse.jdt.core.prefs
Exercícios/salariominimo/.classpath
Exercícios/salariominimo/.project
Exercícios/salariominimo/.settings/org.eclipse.jdt.core.prefs
Exercícios/senha/.classpath
Exercícios/senha/.project
Exercícios/senha/.settings/org.eclipse.jdt.core.prefs
Exercícios/soma_de_A_b_c/.classpath
Exercícios/soma_de_A_b_c/.project
Exercícios/soma_de_A_b_c/.settings/org.eclipse.jdt.core.prefs
Exercícios/soma_diferença/.classpath
Exercícios/soma_diferença/.project
Exercícios/somasubmuldiv/.settings/org.eclipse.jdt.core.prefs
Exercícios/somasubmuldiv/.project
Exercícios/somasubmuldiv/.classpath
Exercícios/soma_diferença/.settings/org.eclipse.jdt.core.prefs
Exercícios/str/.classpath
Exercícios/str/.project
Exercícios/str/.settings/org.eclipse.jdt.core.prefs
Exercícios/super-calculadora/.classpath
Exercícios/super-calculadora/.project
Exercícios/super-calculadora/.settings/org.eclipse.jdt.core.prefs
Exercícios/temperatura/.classpath
Exercícios/temperatura/.project
Exercícios/temperatura/.settings/org.eclipse.jdt.core.prefs
Exercícios/ternario/.classpath
Exercícios/ternario/.settings/org.eclipse.jdt.core.prefs
Exercícios/ternario/.project
Exercícios/ternario1/.settings/org.eclipse.jdt.core.prefs
Exercícios/ternario1/.project
Exercícios/ternario1/.classpath
Exercícios/ternario3/.classpath
Exercícios/ternario3/.project
Exercícios/ternario3/.settings/org.eclipse.jdt.core.prefs
Exercícios/teste/.classpath
Exercícios/teste/.project
Exercícios/teste/.settings/org.eclipse.jdt.core.prefs
Exercícios/teste2/.classpath
Exercícios/teste2/.project
Exercícios/teste2/.settings/org.eclipse.jdt.core.prefs
Exercícios/validade_senha/.classpath
Exercícios/trabalho/.settings/org.eclipse.jdt.core.prefs
Exercícios/trabalho/.project
Exercícios/trabalho/.classpath
Exercícios/vota_brasil_ja/.classpath
Exercícios/validade_senha/.settings/org.eclipse.jdt.core.prefs
Exercícios/validade_senha/.project
Exercícios/vota_brasil_ja/.settings/org.eclipse.jdt.core.prefs
Exercícios/vota_brasil_ja/.project
Exercícios/exe0010-vetor/build/classes/.netbeans_automatic_build
Exercícios/exe0010-vetor/build/classes/.netbeans_update_resources
Exercícios/exe002/build/classes/.netbeans_update_resources
Exercícios/exe002/build/classes/.netbeans_automatic_build
Exercícios/exe003-area-do-triangulo/build/classes/.netbeans_automatic_build
Exercícios/exe003-area-do-triangulo/build/classes/.netbeans_update_resources
Exercícios/exe004-caso-escolha/build/classes/.netbeans_automatic_build
Exercícios/exe004-caso-escolha/build/classes/.netbeans_update_resources
Exercícios/exe005/build/classes/.netbeans_automatic_build
Exercícios/exe005/build/classes/.netbeans_update_resources
Exercícios/exe006-conversão-de-tipo/build/classes/.netbeans_automatic_build
Exercícios/exe006-conversão-de-tipo/build/classes/.netbeans_update_resources
Exercícios/exe007-continue-break/build/classes/.netbeans_automatic_build
Exercícios/exe007-continue-break/build/classes/.netbeans_update_resources
